# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/findr_db

# Spotify API Configuration
SPOTIFY_CLIENT_ID=0a143dab36b348dea7771d6fc501ec8d
SPOTIFY_CLIENT_SECRET=78efa99e040e458e9eac21987343f593
SPOTIFY_REDIRECT_URI=http://[::1]:8000/callback

# App Configuration
SECRET_KEY=2f8b1c7e8e2a4e1b9c3d4f5a6b7c8d9e0f1a2b3c4d5e6f7g8h9i0j1k2l3m4n5o
ENVIRONMENT=development

# Railway PostgreSQL (for production)
RAILWAY_DATABASE_URL=postgresql://${{POSTGRES_USER}}:${{YFjnpEoGfNjkzFPILQMntTDhRzyrqtHG
}}@${{RAILWAY_PRIVATE_DOMAIN}}:5432/${{POSTGRES_DB}}